{% extends 'base.html' %}
{% block content %}
    <section class="banner" id="inicio">
        <img src="static/img/Cópia de 10º (4).png" alt="banner" class="img-banner">
    </section>
    <section class="conteudo" >
        
        
        <!-- <div class="experiencia">
            <h2>A melhor experiência gastronômica está de volta!</h2>
        </div> -->
        <div class="text">
            <p>O Sabores da Roça reúne os melhores restaurantes da região, para um festival gastronômico totalmente diferente do que você já viu!</p>
            <p>O Festival chega a sua décima edição com um cardápio regional surpreendente. Cada restaurante participante irá disponibilizar em seu menu os pratos criados exclusivamente para o evento com sabores regionais, também com opções vegetarianas. </p>
            <p>O Sabores da Roça é uma iniciativa da Prefeitura de Barretos e dos Independentes em parceria com os restaurantes participantes.</p>
            <img src="static/img/WhatsApp Image 2023-06-01 at 08.08.46.jpeg" class="mandioca">
        </div>
        <div class="mandioca" id="sobre">
    </section>
    <div>
    <h1 class="titulo">Como funciona?</h1>
    <!-- <h2>A melhor experiência gastronômica está de volta!</h2> -->
    </div>
    <div>
        <img src="static/img/ds.jpeg" class="sub-logo" id="restaurantes">
    </div>
    <div>
        <a href="#form">Tem um restaurante e quer inscrever-se no evento Clique aki</a>
    </div>
    <div class="cardapio-1">
        <div class="gamela">
            <img src="static/img/WhatsApp Image 2023-05-26 at 10.38.20.jpeg" class="gamela-img">
            <img src="static/img/WhatsApp_Image_2023-06-01_at_13.09.50-removebg-preview.png" class="texto-logo"> 
         </div>
         <div class="gamela">
            <img src="static/img/WhatsApp Image 2023-05-26 at 10.11.57.jpeg" class="gamela-img">
            <img src="static/img/WhatsApp_Image_2023-06-01_at_13.17.55-removebg-preview.png" class="texto-logo"> 
         </div>
    </div>
    <div class="cardapio-2">
        <div class="gamela">
            <img src="static/img/WhatsApp Image 2023-05-26 at 10.39.06.jpeg" class="gamela-img">
            <img src="static/img/WhatsApp_Image_2023-06-01_at_13.19.17-removebg-preview.png" class="texto-logo"> 
         </div>
         <div class="gamela">
            <img src="static/img/WhatsApp Image 2023-05-26 at 10.35.39.jpeg" class="gamela-img">
            <img src="static/img/bd369526-f741-40b3-81a2-4893f6e46bc0-removebg-preview.png" class="texto-logo"> 
         </div>
    </div>
    <div class="cardapio-3">
        <div class="gamela">
            <img src="static/img/WhatsApp Image 2023-05-26 at 12.54.01.jpeg" class="gamela-img">
            <img src="static/img/fd1e54f2-291f-4d04-9bb6-9e890d893112-removebg-preview.png" class="texto-logo"> 
         </div>
         <div class="gamela">
            <img src="static/img/WhatsApp Image 2023-05-26 at 10.10.49.jpeg" class="gamela-img">
            <img src="static/img/WhatsApp_Image_2023-06-01_at_15.07.30-removebg-preview (1).png" class="texto-logo"> 
         </div>
    </div>
    <div class="vertical"></div>
    
    <div class="loc">
        <h1>Localização</p>
    </div>
    <img src="static/img/loc.png" class="ponto">
    <div class="sub-loc">
        <p>Rodovia Assis Chateaubriand, Av.</p>
        <p>Fraternidade Paulista, km 100 - Jardim</p>
        <p>Caicara, Barretos - SP, 14786-120</p>
        <p>Rancho Pau Impé</p>
    </div>
    <!-- <div class="divulgacao">
        <h2>O festival, além de proporcionar </h1>
        <h2>uma experiência incrível, todo o</h1>
        <h2>dinheiro arrecado será doado e</h1>
        <h2>investido em redes públicas.</h1>
    </div> -->
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1515.1627166396875!2d-48.61850755970209!3d-20.540656679922026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bb84402dda29db%3A0x93327bf882e4db9c!2sRancho%20Pau%20Imp%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1686927077373!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="festival"></iframe>
    <div>
        <img src="static/img/Cartão fidelidade.png" class="cartao">
        <div class="idlogo1">
            <h1>Para quem for saborear os incríveis</h1>
            <h1>pratos da noite, haverá um</h1> <h1 class="yellow1">cartão</h1>
            <h1 class="move1"> Onde quem experimentar</h1> <h1 class="yellow2">fidelidade.</h1>
            <h1>três pratos de restaurantes diferentes,</h1>
            <h1 class="yellow3">ganhará um prêmio!</h1>
        </div>
    </div>
    <div class="festival1">
        <h1>O festival, além de proporcionar uma experiência incrível, todo o</h1>
        <h1 class="festival2">dinheiro arrecado será doado e investido em redes públicas.</h1>
    </div>
    <div class="linha2"></div>
    <div class="patrocinio">
        <h1>Patrocinadores</h1>
    </div>
    <div class="patrocinio1" id="patro">
        <img src="static/img/brasao-municipio-barretos.jpg" class="patrocinio3">
        <img src="static/img/peaodebarretos.png" class="patrocinio2">
    </div>
    <div class="patrocinios">
        <img src="static/img/WhatsApp_Image_2023-06-01_at_13.09.50-removebg-preview.png" class="gamelapa">
        <img src="static/img/WhatsApp_Image_2023-06-01_at_13.17.55-removebg-preview.png" class="estrelapa">
        <img src="static/img/WhatsApp_Image_2023-06-01_at_13.19.17-removebg-preview.png" class="donapa">
        <img src="static/img/bd369526-f741-40b3-81a2-4893f6e46bc0-removebg-preview.png" class="temppa">
        <img src="static/img/WhatsApp_Image_2023-06-01_at_15.07.30-removebg-preview (1).png" class="casapa">
        <img src="static/img/fd1e54f2-291f-4d04-9bb6-9e890d893112-removebg-preview.png" class="saborpa">
    </div>
    {% endblock %}